---
layout: page
title: Hall of Fame
permalink: /hof/
index: 5
titleholders:
  - category: Effic
    name: starch
  - category: FFA
    name: Redon
  - category: Insta
    name: Gangler
  - category: eCTF
    name: none
  - category: CTF
    name: none
  - category: iCTF
    name: none
hof:
  - category: Effic
    members:
      - name: starch
        golden: 5
        bronze: 1
      - name: Rexus
        golden: 3
        silver: 3
      - name: hades
        golden: 1
        silver: 3
        bronze: 2
      - name: lagout
        silver: 3
        bronze: 3
      - name: Partizan
        golden: 1
        silver: 1
        bronze: 1
      - name: Honzik1
        golden: 1
        bronze: 1
      - name: Lokio
        golden: 1
      - name: Frosty
        silver: 1
        bronze: 1
      - name: notas
        silver: 1
      - name: Alluro
        bronze: 1
      - name: Gangler
        bronze: 1
      - name: Redon
        bronze: 1
  - category: FFA
    members:
      - name: Redon
        golden: 9
        silver: 1
      - name: Lokio
        golden: 2
        silver: 2
        bronze: 5
      - name: notas
        golden: 1
        silver: 4
      - name: Honzik1
        silver: 4
        bronze: 1
      - name: Frosty
        silver: 1
        bronze: 3
      - name: h8
        bronze: 2
      - name: starch
        bronze: 1
  - category: Insta
    members:
      - name: Gangler
        golden: 4
        bronze: 2
      - name: starch
        golden: 3
        silver: 1
        bronze: 2
      - name: Achille
        golden: 3
        silver: 1
      - name: Frosty
        silver: 3
      - name: Honzik1
        golden: 1
        bronze: 2
      - name: Partizan
        silver: 2
        bronze: 1
      - name: Rexus
        silver: 2
      - name: hades
        silver: 1
        bronze: 1
      - name: fatmonkeygenius
        silver: 1
      - name: Satoshi
        bronze: 2
      - name: Headway
        bronze: 1
  - category: eCTF
    members:
  - category: CTF
    members:
  - category: iCTF
    members:
---
<table style="text-align: center; table-layout: fixed;">
  <thead>
    <tr>
      {% for item in page.hof %}
        <th>{{ item.category }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody style="font-size: 1.1em;">
    <tr>
      {% for item in page.hof %}
        <td>
          {% for member in item.members %}
            <p>
              {{ member.name | add_flags }}
              {% for star in (1..member.golden) %}<span class="golden star">★</span>{% endfor %}
              {% for star in (1..member.silver) %}<span class="silver star">★</span>{% endfor %}
              {% for star in (1..member.bronze) %}<span class="bronze star">★</span>{% endfor %}
            </p>
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
