---
title:   Rankings
section: Effic
---

{% include_relative _basic_stats.html players=site.data.effic.stats %}

<br/>
<h3>Weapon Stats</h3>
<table class="sortable">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Accuracy</th>
            <th><img class="icon" src="http://sauerduels.me/images/shotgun.png" alt="Shotgun"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/chaingun.png" alt="Chaingun"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/rocket.png" alt="Rocket Launcher"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/rifle.png" alt="Rifle"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/grenade.png" alt="Grenade Launcher"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/fist.png" alt="Chainsaw"/></th>
        </tr>
    </thead>
    <tbody>

        {% for player in site.data.effic.weapon_stats %}

        <tr>
            <td>{{ player.rank }}</td>
            <td class="left-align">{{ player.name }}</td>
            <td>{{ player.accuracy }}</td>
            <td>{{ player.shotgun }}</td>
            <td>{{ player.chaingun }}</td>
            <td>{{ player.rocket_launcher }}</td>
            <td>{{ player.rifle }}</td>
            <td>{{ player.grenade_launcher }}</td>
            <td>{{ player.chainsaw }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>