---
title:   Rankings
section: FFA
---
<h3>Basic Stats</h3>
<table class="sortable">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>ELO</th>
            <th>Games</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win Ratio</th>
            <th>Frags</th>
            <th>Deaths</th>
            <th>K/D</th>
            <th>Suicides</th>
            <th>Accuracy</th>
        </tr>
    </thead>
    <tbody>

        {% for player in site.data.ffa.stats %}

        <tr>
            <td>{{ player.rank }}</td>
            <td class="left-align">{{ player.name }}</td>
            <td>{{ player.elo }}</td>
            <td>{{ player.games }}</td>
            <td>{{ player.wins }}</td>
            <td>{{ player.losses }}</td>
            <td>{{ player.win_ratio }}</td>
            <td>{{ player.frags }}</td>
            <td>{{ player.deaths }}</td>
            <td>{{ player.kpd }}</td>
            <td>{{ player.suicides }}</td>
            <td>{{ player.accuracy }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<br/>
<h3>Weapon Stats</h3>
<table class="sortable">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Accuracy</th>
            <th><img class="icon" src="http://sauerduels.me/images/shotgun.png" alt="Shotgun"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/chaingun.png" alt="Chaingun"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/rocket.png" alt="Rocket Launcher"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/rifle.png" alt="Rifle"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/grenade.png" alt="Grenade Launcher"/></th>
            <th><img class="icon" src="http://sauerduels.me/images/pistol.png" alt="Pistol" /></th>
            <th><img class="icon" src="http://sauerduels.me/images/fist.png" alt="Chainsaw"/></th>
        </tr>
    </thead>
    <tbody>

        {% for player in site.data.ffa.weapon_stats %}

        <tr>
            <td>{{ player.rank }}</td>
            <td class="left-align">{{ player.name }}</td>
            <td>{{ player.accuracy }}</td>
            <td>{{ player.shotgun }}</td>
            <td>{{ player.chaingun }}</td>
            <td>{{ player.rocket_launcher }}</td>
            <td>{{ player.rifle }}</td>
            <td>{{ player.grenade_launcher }}</td>
            <td>{{ player.pistol }}</td>
            <td>{{ player.chainsaw }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>