---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Results</h1>
  </header>

  <div class="post-content">
    {% assign events = site.events | sort: 'index' | reverse %}
    {% if page.permalink != nil %}
      {% for event in events %}{% if event.completed == true %}
        {% assign pageIndex = event.index %}
        {% break %}
      {% endif %}{% endfor %}
    {% else %}
      {% assign pageIndex = page.index %}
    {% endif %}
    
    <ul id="menu">
      <li>
        <a href="#" class="active">
          {% for event in events %}{% if event.index == pageIndex %}
            SD #{{ event.index | prepend: '00' | slice: -2, 2 }}: {{ event.title }}
            {% break %}
          {% endif %}{% endfor %}
          <span style="float: right;">&#9660;</span>
        </a>
        <ul>
          {% for event in events %}{% if event.completed == true %}{% if event.index != pageIndex %}
            <li><a href="{{ event.url | relative_url }}">SD #{{ event.index | prepend: '00' | slice: -2, 2 }}: {{ event.title }}</a></li>
          {% endif %}{% endif %}{% endfor %}
        </ul>
      </li>
    </ul>
    
    <ul class="tab-contents">
      {% for event in events %}{% if event.index == pageIndex %}
        <div id="event-{{ event.index }}" class="tab-content active">
          {% include result.html %}
        </div>
        {% break %}
      {% endif %}{% endfor %}
    </ul>
  </div>

</article>
