---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Results</h1>
  </header>

  <div class="post-content">
    {% assign events = site.events | sort: 'index' %}
    {% if page.permalink != nil %}
      {% assign pageIndex = 1 %}
    {% else %}
      {% assign pageIndex = page.index %}
    {% endif %}
    
    <ul id="menu">
      <li><a href="#" class="active">SD #{{ page.index }}: {{ page.title }} <span style="float: right;">&#9660;</span></a>
        <ul>
          {% for event in events %}{% if event.completed == true %}
            <li><a href="{{ event.url | relative_url }}">SD #{{ event.index }}: {{ event.title }}</a></li>
          {% endif %}{% endfor %}
        </ul>
      </li>
    </ul>
    
    <ul class="tab-contents">
      {% for event in events %}
        {% if event.completed == true %}
          {% if event.index == pageIndex %}
            <div id="event-{{ event.index }}" class="tab-content active">
              {% include result.html %}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</article>
